* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #0a3d62;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffdd59;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ff6b81;
}


.hero {
  height: 100vh;
  background: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* spacing between items */
}

.btn {
  padding: 12px 24px;
  background: #ff6b81;
  color: white;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn:hover {
  background: #ff4757;
}

.highlight {
  color: #ffdd59;
}